<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='myDesign.css')}}">
</head>
<body>
    <h1>This is the home page</h1>

    <form action="/enroll_student" method="post">
        <input type="text" id="name_inp" name="name_inp" placeholder="Name">
        <br>
        <input type="text" id="sex_inp" name="sex_inp" placeholder="Sexuality">
        <br>
        <input type="text" id="age_inp" name="age_inp" placeholder="Age">
        <br>
        <input type="submit" value="Add">
    </form>

    <br><br>    
    <table>
        <tr>
            <th>NAME</th>
            <th>SEX</th>
            <th>AGE</th>
        </tr>

        {% for i in std %}
        <tr>
            <td>{{i['student_name']}}</td>
            <td>{{i['student_sex']}}</td>
            <td>{{i['student_age']}}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>