<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='myDesign.css')}}">
</head>
<body>
    <h1>This is the home page</h1>
    <table>
        <tr>
            <th>NAME</th>
            <th>SEX</th>
            <th>AGE</th>
        </tr>

        {% for i in std %}
        <tr>
            <td>{{i['student_name']}}</td>
            <td>{{i['student_sex']}}</td>
            <td>{{i['student_age']}}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>