<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='myDesign.css')}}">
</head>
<body>
    <a href="{{url_for('logout')}}">Logout</a>
    <h1>You are currently logged in as {{logged_in_user['account_name']}}</h1>

    <form action="/enroll_student" method="post" enctype="multipart/form-data">
        <input type="text" id="name_inp" name="name_inp" placeholder="Name" required>
        <br>
        <input type="text" id="sex_inp" name="sex_inp" placeholder="Sexuality" required>
        <br>
        <input type="text" id="age_inp" name="age_inp" placeholder="Age" required>
        <br>
        <input type="file" id="img_inp" name="img_inp" accept="image/*" required>
        <br>
        <input type="submit" value="Add">
    </form>

    <br><br>    
    <table>
        <tr>
            <th>PHOTO</th>
            <th>NAME</th>
            <th>SEX</th>
            <th>AGE</th>
            <th>OPERATIONS</th>
        </tr>

        {% for i in std %}
        <tr>
            <td><img class="profile-img" src="{{url_for('static', filename=i['student_pp'])}}"></td>
            <td>{{i['student_name']}}</td>
            <td>{{i['student_sex']}}</td>
            <td>{{i['student_age']}}</td>
            <td>
                <form action="/student_process" method="post">
                    <input type="text" name="student_id_inp" value="{{i['student_id']}}" hidden>
                    <input type="text" name="student_pp_inp" value="{{i['student_pp']}}" hidden>
                    <button name="action_btn" value="update_btn">Update</button>
                    <button name="action_btn" value="delete_btn">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>